<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='compare.css')}}">
</head>
<body>
    <a class="button" href="/logout">Logout</a>

    <div class="row">
        <div class="col-1">
            <div class="table-container">
                <h1 class="heading">Flipkart Products</h1>
                {% if flipkartdata|length == 0 %}
                <h2 style="color:#cc0e0e;text-align: center;">No Report Found</h2>
                {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>product name</th>
                            <th>product price</th>
                            <th>product image</th> 
                            <th>product Reviews</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in flipkartdata %}
                        <tr>
                            <td data-label="SL">{{i[4]}}</td>
                            <td data-label="product_name">{{i[0]}}</td>
                            <td data-label="product_price">{{i[1]}}</td>
                            <td data-label="product_image"><img class="table-image" src="{{i[3]}}" alt="product image">
                            </td>
                            <td data-label="product_image">{{i[2]}} out of 5 stars</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            
        </div>
        <div class="col-2">
            <div class="table-container">
                <h1 class="heading">Amazon Products</h1>
                {% if amazondata|length == 0 %}
                <h2 style="color:#cc0e0e;text-align: center;">No Report Found</h2>
                {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>product name</th>
                            <th>product price</th>
                            <th>product image</th> 
                            <th>product Reviews</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in amazondata %}
                        <tr>
                            <td data-label="SL">{{i[4]}}</td>
                            <td data-label="product_name">{{i[0]}}</td>
                            <td data-label="product_price">{{i[1]}}</td>
                            <td data-label="product_image"><img class="table-image" src="{{i[3]}}" alt="product image">
                            </td>
                            <td data-label="product_image">{{i[2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

            <div class="btn-parent">
                <a href="/compare/{{prev}}" class="button">Prev</a>
                <a href="/compare/{{next}}" class="button">Next</a>
                <a href="/" class="button1">View All Products</a>

            </div>
        </div>

    </div>

</body>
</html>