<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>

<body>
    <div class="container">

{% if account %}
<div class="btn-parent">
    <a class="button" href="/logout">Logout</a>
    <a href="/compare/0" class="button">Compare</a>
</div>


{% endif %}
                
        <div class="table-container">
            <h1 class="heading">All Products</h1>
            {% if data|length == 0 %}
            <h2 style="color:#cc0e0e;text-align: center;">No Report Found</h2>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>product name</th>
                        <th>product price</th>
                        <th>product image</th>
                        <th>product Reviews</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td data-label="SL">{{loop.index}}</td>
                        <td data-label="product_name">{{i[0]}}</td>
                        <td data-label="product_price">{{i[1]}}</td>
                        <td data-label="product_image"><img class="table-image" src="{{i[3]}}" alt="product image">
                        </td>
                        <td data-label="product_review">{{i[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        
    </div>




</body>

</html>